body {
    margin: 0;
    font-family: 'TTLakes', sans-serif;
    background-color: #F8F8F8;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #B5B6BC;
    display: inline-block;
}

.main {
    position: relative;
    overflow: hidden;
    min-height: 150px;
}

.swiper-pagination {
    --swiper-pagination-bottom: -32px;
}

.swiper-container {
    position: relative;
}


@font-face {
    font-family: 'TTLakes';
    font-weight: 400;
    src: url(statics/TTLakes-Regular.eot),
         url(statics/TTLakes-Regular.ttf) format('truetype'),
         url(statics/TTLakes-Regular.woff) format('woff');

}

@font-face {
    font-family: 'TTLakes';
    font-weight: 500;
    src: url(statics/TTLakes-Medium.eot),
         url(statics/TTLakes-Medium.ttf) format('truetype'),
         url(statics/TTLakes-Medium.woff) format('woff');

}

.header__heading {
    font-size: 16px;
    font-weight: 400;
    color: #7E7E82;
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    margin: 0;
    padding: 16px;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 16px;
}


.list__list-item {
    display: flex;
    height: 72px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.list__logo {
    max-width: 128px;
    max-height: 44px;
}

.list__go-button {
    border: none;
    background: none;
    background-image: url('statics/go.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}

.list__acer-logo {
    max-height: 25px;
}

.list__hp-logo {
    max-height: 52px;
}

.container {
    position: relative;
    overflow: hidden;
}